/* index.css (o global.css) */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87); /* Cambiado a negro para el texto */
  background-color: #ffffff; /* Cambiado a blanco para el fondo */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none; /* Cambiado para evitar subrayado */
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0; /* Añadido para eliminar el relleno predeterminado */
  font-size: 16px; /* Ajustado tamaño de fuente base */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5em 0; /* Ajustado margen para separación */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff; /* Cambiado color de texto a blanco */
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #000000; /* Añadido cambio de color de fondo en hover */
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    color: #000000; /* Cambiado color de texto a negro */
  }

  button:hover {
    background-color: #747bff; /* Ajustado color de fondo en hover */
  }
}
